{% extends "scs/page.html" %}


{% block content %}
<div class="contentbox">
<h2 style="text-align: center;">Instances</h2>
<p>
<table border=1>
    <tr>
        <th>&nbsp;</th>
        <th>name</th>
        <th>max/min concurrency</th>
        <th>&nbsp;</th>
    </tr>
    {% for node in nodes %}
    <tr>
        <td align="left"><a href="/node/{{ node.name }}/delete/?next={{ next }}"
                >[x]</a></code></td>
        <td align="left"><code><a href="/node/{{ node.name }}/status"
                    >{{ node.name }}</a></code></td>
        <td><strong>{{ node.max_concurrency }}</strong> /
            <strong>{{ node.min_concurrency }}</strong>
        </td>
        <td align="left">[
            {% if node.is_enabled %}
            <a href="/node/{{ node.name }}/disable/?next={{ next }}">Disable</a>
            | <a href="/node/{{ node.name }}/restart/?next={{ next }}">Restart</a>
            {% else %}
            <a href="/node/{{ node.name }}/enable/?next={{ next }}">Enable</a>
            {% endif %}
            | <a href="/node/{{ node.name }}/edit/">Edit</a>
            ]
        </td>
    </tr>
    {% if node.queues.active %}
        <tr>
            <td>&nbsp;</td>
            <td><small><small>{% for queue in node.queues.active %}
                                        {{ queue.name }},&nbsp;
                              {% endfor %}</small></small></td>
        </tr>
    {% endif %}
    {% endfor %}
    </table>
</p>
<p>
<form action="/node/create/" method="post">
    <input type="hidden" name="next" value="{{ next }}" />
{% csrf_token %}
<label for="name"><strong>New instance</strong> (name optional)</label>
<input type="text" name="name" />
<input type="submit", value="Create" />
</form>
</p>
</div>
{% endblock %}
