include AUTHORS
include Changelog
include LICENSE
include MANIFEST.in
include README
include README.rst
include TODO
include setup.cfg
recursive-include cyme *.py
recursive-include docs *
recursive-include tests *
recursive-include funtests *.py
recursive-include requirements *.txt
include funtests/setup.py
include funtests/setup.cfg
prune *.db
prune tests/*.pyc
prune cyme/*.pyc
prune docs/.build
prune funtests/suite/instances/*
prune docs/.build
